1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
i) Print the second item from the list.
ii) Change the value from "Gurgaon" to "Kerala"
iii) Remove the last element of the list.

In [6]:
City = ['Gurgaon', 'Mumbai', 'Bangalore'] 
type(City)
City[1]
City[0]="Kerala"
City
City.pop()
City

['Kerala', 'Mumbai']

2. Use negative indexing to print the last item in the list. Make
a list by yourself.

In [8]:
aList=['a','b','c','d','e','f','g']
aList[-1]

'g'

Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself.

In [11]:
aList[2:5]

['c', 'd', 'e']

4.Remove the last element from the city list

In [12]:
City.pop()

'Mumbai'

In [13]:
City

['Kerala']

5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelo
n’,’banana’]
i) Add "orange" at the end of the above list.
ii) Add "lemon" as the second item in the fruits list

In [25]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
fruits.append('orange')
fruits

['apple',
 'lichi',
 'guava',
 'cherry',
 'mango',
 'watermelon',
 'banana',
 'orange']

In [26]:
fruits.insert(1,'lemon')
fruits

['apple',
 'lemon',
 'lichi',
 'guava',
 'cherry',
 'mango',
 'watermelon',
 'banana',
 'orange']

6. Remove ‘cherry’ from the fruit list given above.

In [27]:
fruits.remove('cherry')
fruits

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

7. Write the python program to let the user input a list of
numbers and print the list in descending order.

In [40]:
inVal=input("Enter list of numners : ") #1,3,4,2,6,5,8,7
mList=inVal.split(",")
mList
type(mList)
mList.sort()
int_list = list( map(int, mList) )
newList= sorted(int_list,reverse=True)
print(newList)

Enter list of numners : 1,3,4,2,6,5,8,7,9,11,10,20,101,100
[101, 100, 20, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
listOfNum = [23, 45, 21, 45, 2, 5, 11, 50, 1, 67]
newList1= sorted(listOfNum,reverse=True)
print(newList1)

[67, 50, 45, 45, 23, 21, 11, 5, 2, 1]

8. Write the python program to let the user input two lists and
combine both the lists.

In [41]:
input1=input("Enter list1 : ")
input2=input("Enter list2 : ")
lst1=input1.split(",")
lst2=input2.split(",")
lst3=lst1+lst2
lst3

Enter list1 : 1,2,3,4
Enter list2 : 5,6,7,8

['1', '2', '3', '4', '5', '6', '7', '8']

9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [44]:
import random

List1 = [10, 45, 78, 11, 9, 23]

random.shuffle(List1)
print ("Shuffled list : ",  List1)

random.shuffle(List1)
print ("Reshuffled list : ",  List1)

Shuffled list :  [78, 10, 9, 45, 23, 11]
Reshuffled list :  [9, 78, 11, 45, 23, 10]

10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
i) What is the expression that returns the 'z' in 'baz'?
ii) What expression returns the list ['baz', 2.718]?

In [56]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
print(x[1][2][1][:1])

b

In [57]:
x[1][2][1:3]

['baz', 2.718]

11. Extract element 20 from the above list.

In [59]:
x[1][1]

20

12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [72]:
a=[1,2,7,8]
a.sort()

In [73]:
v_min=a[0]
v_min
print(v_min)
v_max=a.pop()
print(v_max)

1
8

In [74]:
final_list=list(range(v_min,v_max+1))
final_list

[1, 2, 3, 4, 5, 6, 7, 8]