1. Define different types of variables (integer, boolean,string, float, complex) and print their values and their types

In [2]:
a=12
print("value of a: ",a)
type (a)

value of a:  12

int

In [3]:
b=False
print("value of b: ",b)
type (b)

value of b:  False

bool

In [4]:
c="Atanu"
print("value of c: ",c)
type (c)

value of c:  Atanu

str

In [5]:
d=12.34
print("value of d: ",d)
type (d)

value of d:  12.34

float

In [7]:
e=complex(2,3)
print("value of e: ",e)
type (e)

value of e:  (2+3j)

complex

2. In the above question convert float variable into integer type and integer variable into str type.

In [8]:
fc=int(d)
print("value of d: ",d)
print("value of fc: ",fc)
type (fc)

value of d:  12.34
value of fc:  12

int

In [9]:
sa=str(a)
print("value of a: ",a)
print("value of sa: ",sa)
type (sa)

value of a:  12
value of sa:  12

str

3.What will you get converting “abc” into boolean ?

In [11]:
bcon=bool("abc")
print(bcon)
type(bcon)

True

bool

Print the substring from index 2 to index 4 for any given string. For example (llo) from “Hello World”

In [16]:
sVal="Hello World"
sVal[2:5]
#sVal[4]

'llo'

Write a program to check a substring in a given string.For example 'e' is present in the word 'Umbrella'

In [17]:
sVal1="Umbrella"
sVal1.count("e")

1

Use the correct comparison operator to check if 5 is not
equal to 10.

In [18]:
5==10

False

Write a program to get a string from the user and sort the
words of the string in alphabetical order.

In [24]:
st=input()
spSt=st.split(" ")
sorted(spSt[0])
jSorted= ''.join(sorted(spSt[0])) 
jSorted

saebdrf hraer

'abdefrs'

In [28]:
# Program to sort alphabetically the words form a string provided by the user

my_str = "hello this is an example with cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()
words

strings = ' '.join(words)
strings
# display the sorted words

#print("The sorted words are:")
#for word in words:
 #  print(word)

'an cased example hello is letters this with'

Join two words using special characters like ‘ – ‘ ,’#’

In [29]:
str1="Atanu"
str2="Dan"

str3=str1+ """ -# """ +str2
print(str3)

Atanu -# Dan

Find all occurrences of “INDIA” in a given string
ignoring the case.
input_str = "Welcome to INDIA. india is awesome.

In [31]:
input_str = "Welcome to INDIA. india is awesome"
input_str.upper().count("INDIA")

2

Replace first two ‘l’ with ‘n’ in ‘Hello World’

In [32]:
str_input="Hello World"
str_input.replace("l","n",2)

'Henno World'

Write a program that takes your full name as input and
displays the abbreviations of the first and middle names
except the last name which is displayed as it is. For
example, if your name is Robert Brett Roser, then the
output should be R.B.Roser.

In [36]:
str_abbr="Robert Brett Roser"
str_lst=str_abbr.split(" ")
str_final=str_lst[0][0] + "." + str_lst[1][0] + "."+ str_lst[2]
str_final

'R.B.Roser'

Write a program to check if a given string is a
Palindrome.
A palindrome reads the same from front and back e.g.-
aba, ccaacc, mom, etc.

In [43]:
str_p="abba"
str_r=str_p[::-1]
print(str_r)
str_p==str_r

abba

True