Write a Python program to add an item in a tuple.

In [7]:
my_tup=10,20,30,40
type(my_tup)

tuple

In [8]:
my_tup = my_tup + (50,)
my_tup

(10, 20, 30, 40, 50)

In [9]:
my_tup=my_tup[:2]+(60,70)+ my_tup[2:]
my_tup

(10, 20, 60, 70, 30, 40, 50)

Write a Python program to reverse a tuple.

In [11]:
my_rev_tup=reversed(my_tup)
print(tuple(my_rev_tup))

(50, 40, 30, 70, 60, 20, 10)

Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [13]:
tuple1 = (11, 22)
tuple2 = (99, 88)

print(tuple1, tuple2)
tuple1, tuple2 = tuple2, tuple1
print (tuple1, tuple2)

(11, 22) (99, 88)
(99, 88) (11, 22)

Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)

In [14]:
tuple_1 = (11, [22, 33], 44, 55)
tuple_1

(11, [22, 33], 44, 55)

In [16]:
tuple_1[1][0]=222
tuple_1

(11, [222, 33], 44, 55)

In [17]:
type(tuple_1)

tuple

Write a Python program to unpack a tuple in several variables

In [20]:
tuple3 = (111, 222,333)
print(*tuple3)
a,b,c=tuple3
a
b
c

111 222 333

333

Write a Python program to add member(s) in an empty
set.

In [23]:
A=set()
A.add(1)
A

{1}

Write a Python program to create an intersection of sets

In [24]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
setz = setx & sety
print(setz)

{'blue'}

In [27]:
#union
setz1=setx | sety
setz1

{'blue', 'green', 'yellow'}

Write a Python program to create a symmetric difference
in sets.

In [28]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
#Symmetric difference
setc = setx ^ sety
print(setc)

{'orange', 'apple'}

Return a set of identical items from a given two Python
set
set1 = [10, 20, 30, 40, 50]

set2 = [30, 40, 50, 60, 70]

In [32]:
set1 = [10, 20, 30, 40, 50]
type(set1)
set2 = [30, 40, 50, 60, 70]
set3=set(set1)|set(set2)
set3

{10, 20, 30, 40, 50, 60, 70}

10. Remove 10, 20, 30 elements from a following set at
once
set1 = {10, 20, 30, 40, 50}

In [33]:
set11 = {10, 20, 30, 40, 50}
set11.difference_update({10, 20, 30})
print(set11)

{40, 50}

Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [36]:
example = ("Pooja", [10, 20, 30], (25, 50, 15))
type(example)
example[1][1]

20

Count the number of occurrences of item 50 from a tuple
numbers = (50, 10, 60, 70, 50)

In [37]:
numbers = (50, 10, 60, 70, 50)
print(numbers.count(50))

2